#box1 {
    width: 100px;
    height: 100px;
    background: green;
}

#box1:hover {
        width: 600px;
        transition: 2s;
        transition: ease-in;
        transition-delay: 0.5s;

    }
#box2 {
        width: 100px;
        height: 100px;
        background: red;
        }    
#box2:hover{
    transform:  translate(200px,200px) rotate(90deg);
}    
#box3 {
    width: 100px;
    height: 100px;
    background: lightblue;
    transform: skewX(20deg);
    }
#box4 {
    width: 100px;
    height: 100px;
    background:lightgreen;
    box-shadow: 2px 2px 5px green;

}
#myPic {
    width: 200px;
    height: 200px;
    background: pink;
    background-image:url("mypic.jpg");
    background-size: cover;
    opacity: 25%;

    }